pandas==2.2.3
numpy==1.26.4
scikit-learn==1.8.0
lightgbm==4.6.0
catboost==1.2.8
fastapi==0.128.0
uvicorn==0.34.0
joblib==1.4.2
requests==2.32.4
matplotlib==3.10.0
mlflow==3.8.1
optuna==4.6.0
pyyaml==6.0.2
prometheus-fastapi-instrumentator==7.1.0
pytest==9.0.2
pytest-cov==7.0.0
httpx==0.27.2
pydantic-settings==2.7.1
slowapi==0.1.9
category_encoders==2.9.0
seaborn==0.13.2
flask==3.0.3
tqdm==4.66.4
python-dotenv==1.0.1
