pandas
numpy
scikit-learn
lightgbm
catboost
fastapi
uvicorn
joblib
requests
matplotlib
mlflow
optuna
pyyaml
pytest
pytest-cov
httpx
pydantic-settings
category_encoders
seaborn
flask
tqdm
python-dotenv
