pandas
numpy
scikit-learn
lightgbm
catboost
fastapi
uvicorn
joblib
requests
matplotlib
mlflow
optuna
pyyaml
prometheus-fastapi-instrumentator>=7.0.0
pytest
pytest-cov
httpx
pydantic-settings
slowapi
category_encoders
seaborn
flask
tqdm
python-dotenv
