global:
  resolve_timeout: 5m

route:
  group_by: ["alertname", "dataset", "severity"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: "default-receiver"
  routes:
    - match:
        severity: critical
      receiver: "admin-email"

receivers:
  - name: "default-receiver"
    webhook_configs:
      - url: "http://host.docker.internal:5005/alerts" # Professional placeholder

  - name: "admin-email"
    email_configs:
      - to: "${ALERT_EMAIL_TO}"
        from: "${SMTP_USER}"
        smarthost: "smtp.gmail.com:587"
        auth_username: "${SMTP_USER}"
        auth_password: "${SMTP_PASSWORD}"
        send_resolved: true
