global:
  scrape_interval: 5s

rule_files:
  - "rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "kairos-api"
    static_configs:
      - targets: ["api:8000"]
